<h1 class="text-center font-bold text-3xl p-3">Current Team</h1>
<div class="flex justify-center p-4">
  @if (team().length < 1) {
  <p>No pokemon in your team yet. Go ahead and add one!</p>
  } @for (pokemon of team(); track $index) {
  <div>
    <h4 class="text-center">{{ pokemon.name }}</h4>
    <img [src]="getPokemonImageUrl(pokemon.url)" />
    <div class="flex justify-center">
      <button mat-fab (click)="removePokemonFromTeam(pokemon)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  }
</div>
