<h1 class="text-center font-bold text-4xl p-5">Pokemon Team Builder</h1>
<div class="flex flex-wrap">
  @for (pokemon of pokemons(); track $index) {
  <div class="p-4">
    <p class="text-center">{{ pokemon.name }}</p>
    <img [src]="getPokemonImageUrl(pokemon.url)" (click)="openInfo(pokemon)" />
    <div class="flex justify-center">
      <button mat-fab (click)="addToTeam(pokemon)">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
  }
</div>
<div class="flex justify-center space-x-4 p-5">
  <button mat-raised-button class="w-1/6 p-2" (click)="loadPrevious()">
    Previous
  </button>
  <button mat-raised-button class="w-1/6 p-2" (click)="loadNext()">Next</button>
</div>
